@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --thistle: #cdb4dbff;
  --pastel-petal: #ffc8ddff;
  --baby-pink: #ffafccff;
  --icy-blue: #bde0feff;
  --sky-blue: #a2d2ffff;

  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.primeira-rodada {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 30px;
}

.lista-times {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  background-color: var(--thistle);
  border-radius: 10px;
  padding: 10px;
  color: white;
  box-shadow: 0 0 10px var(--baby-pink);
}

body{
  background-color: white;

}

h1 {
  font-size: 40px;
  margin: 10px;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin: 10px;
  text-align: center;
}

.btn-sortear {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: var(--baby-pink);
  color: white;
  cursor: pointer;
  justify-content: center;
  display: flex;
  margin: 30px auto;
}

.btn-sortear:hover {
  box-shadow: 0 0 10px var(--thistle);
  scale: 1.05;
}
